p{
    font-size: 16px;
    padding: 10px 0px;
    /* text-align: justify; */
    padding: 10px;
}

.container{
    max-width: 1000px;
    height: 600px;
    margin-top: 100px;
}
.title{
    height: 32px;
}
.head{
    float: left;
}
.head img{
    height: 20px;
    margin-bottom: 6px;

}
.head h4{
    line-height: 32px;
    font-size: 26px;
    display: inline;
    padding-left: 5px;
}
.see{
    float: right;
    padding: 3px 10px;
    vertical-align: middle;
    border-radius: 25px;
    letter-spacing: 1px;
    background-color: #fff;
    color: rgb(108,141,248);
    border: 1px solid rgb(108, 141, 248);
}
.see:hover{
    color: rgb(108,141,248);
    background-color: #fff;
}
.content{
    margin-top: 10px;
}
.shadow{
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(97, 97, 97);
    margin: 0px;
}
.btn-info{
    display: none;
}
.new .shadow div{
    padding: 0px;
}



/* 媒体查询 */
@media (max-width:768px){
    p{
        font-size: 14px;
        text-align: left;
        padding-top: 0px;
        text-align: justify;
    }
    
.content .new{
    padding: 0px 10px;
}
    .title h4{
        font-size: 20px;
    }
    .see{
        display: none;
    }
    .shadow{
        box-shadow: none;
        margin-bottom: 15px;
    }
    .btn-info{
        width: 80px;
        font-size: 12px;
        background-color: rgb(77, 117, 247);
        letter-spacing: 1px;
        padding: 3px 0px;
        display: block;
        border-radius: 25px;
        margin: 0px auto;
        color: #fff;
    }
}